pandas==2.2.3
numpy==1.26.4
scikit-learn==1.3.2
matplotlib==3.8.0
seaborn==0.13.2
scipy==1.13.0
statsmodels==0.14.4
xgboost==2.1.4
catboost==1.2.5
mlxtend==0.21.0
ucimlrepo
ace-tools
requests==2.31.0
transformers==4.36.0
torch==2.1.0
ipywidgets
shap==0.44.0
statsmodels
umap-learn
mysql-connector-python
dotenv
dython
streamlit==1.36.0